<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel=icon href=/favicon.ico>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css.map" rel="stylesheet">
  <link href="//raw.githubusercontent.com/l-lin/font-awesome-animation/master/dist/font-awesome-animation.min.css" rel="stylesheet">
  <title>DbNet</title>
  <style>
  #inner {
  width: 50%;
  margin: 0 auto;
  text-align:center;
  }
  </style>
</head>

<body>
  <div id="inner">
    <h3 class="title is-4">Please Input Token.</h3>
    <div class="field" >
      <p class="control has-icons-left">
        <input id="token" class="input is-rounded" type="password" placeholder="Token">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field has-text-centered">
      <button onclick="login()" class="button is-success">
        Validate
      </button>
    </div>
  </div>
</body>

</html>

<script>
  var login = function () {
    window.location.href = "/?token=" + document.getElementById('token').value;
  }
</script>